<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/first_app.css' %}"">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to django tutorial</h1>
    {% if access_records %}
    <table>
        <thead>
            <th>Company Name</th>
            <th>Date Created</th>
        </thead>
        {% for acc in access_records %}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>No Data Found</h2>
    {% endif %}
    <div>
        <img src="{% static 'images/python.png'%}" alt="" srcset="">
        
    </div>
</body>
</html>